* {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.website {
  margin: 0px auto;
}

.website > .website-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f2f2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.website > .website-header > .header-menu {
  width: 1250px;
  margin: 10px auto;
  background: #000;
}

.website > .website-header > .header-menu > ul {
  width: 1250px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.website > .website-header > .header-menu > ul > li {
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
}

.website > .website-header > .header-menu > ul > li > a {
  color: #fff;
  display: block;
  line-height: 4.3;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

.website > .website-header > .header-menu > ul > li > a:hover {
  color: #fff;
  background: #ff3f40;
}

.website > .website-header > .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: sans-serif;
}

.website > .website-header > .header-main > .main-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.website > .website-header > .header-main > .main-left > .left-title {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
}

.website > .website-header > .header-main > .main-left > .left-desc {
  width: 516px;
  height: 77px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.75;
  text-align: left;
}

.website > .website-header > .header-main > .main-left > .left-button {
  width: 227px;
  height: 55px;
  color: #fff;
  border: none;
  font-size: 18px;
  line-height: 1.878;
  border-radius: 5px;
  background: #ff2d2d;
  font-family: sans-serif;
  color: white;
}

.website > .website-header > .header-main > .main-right > .right-img {
  width: 551px;
  height: 356px;
  background: url("./img/system1.jpg") center center/cover;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.368);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.368);
}

.website > .website-header > .header-main > .main-right > .right-img > .img-bgcurtain {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.website > .website-header > .header-main > .main-right > .right-img > .img-bgcurtain > a {
  position: relative;
}

.website > .website-header > .header-main > .main-right > .right-img > .img-bgcurtain > a > .img-icon {
  top: 150px;
  left: 250px;
  position: absolute;
  cursor: pointer;
}

.website > .website-main-section {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.website > .website-main-section > .main-section-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 150px;
}

.website > .website-main-section > .main-section-left > .left-title {
  font-size: 42.216px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.31;
  text-align: left;
  font-family: sans-serif;
}

.website > .website-main-section > .main-section-left > .left-desc {
  width: 517px;
  font-size: 16px;
  color: black;
  line-height: 1.75;
  text-align: left;
}

.website > .website-main-section > .main-section-left > .left-button {
  width: 223px;
  height: 51px;
  background: none;
  border-radius: 5px;
  border: 2px solid red;
}

.website > .website-main-section > .main-section-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.website > .website-main-section > .main-section-right > .right-first-column > .first-column-card {
  width: 250px;
  margin: 10px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.website > .website-main-section > .main-section-right > .right-first-column > .first-column-card > .card-img {
  width: 41px;
  height: 41px;
}

.website > .website-main-section > .main-section-right > .right-first-column > .first-column-card > .card-title {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.2;
  text-align: left;
}

.website > .website-main-section > .main-section-right > .right-first-column > .first-column-card > .card-desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.75;
  text-align: left;
}

.website > .website-main-section > .main-section-right > .right-second-column > .second-column-card {
  width: 250px;
  margin: 10px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.website > .website-main-section > .main-section-right > .right-second-column > .second-column-card > .card-img {
  width: 41px;
  height: 41px;
}

.website > .website-main-section > .main-section-right > .right-second-column > .second-column-card > .card-title {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.2;
  text-align: left;
}

.website > .website-main-section > .main-section-right > .right-second-column > .second-column-card > .card-desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.75;
  text-align: left;
}
/*# sourceMappingURL=index.css.map */