* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    outline: none;
}

.website {
    margin: 0px auto;

    &>.website-header {
        display: flex;
        flex-direction: column;
        background: #f6f2f2;
        justify-content: center;

        &>.header-menu {
            width: 1250px;
            margin: 10px auto;
            background: #000;

            &>ul {
                width: 1250px;
                height: 68px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;

                &>li {
                    width: 100px;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    margin: 0px 20px 0px 20px;

                    &>a {
                        color: #fff;
                        display: block;
                        line-height: 4.3;
                        text-align: center;
                        text-decoration: none;
                        font-family: sans-serif;

                        &:hover {
                            color: #fff;
                            background: #ff3f40;
                        }

                    }

                }

            }

        }

        &>.header-main {
            display: flex;
            margin: 0px auto;
            font-family: sans-serif;

            &>.main-left {
                width: 50%;

                & > .left-title {
                    font-size: 60px;
                    // text-transform: capitalize;
                }

            }

        }

    }

}