* {
    margin: 0px;
    padding: 0px;
    outline: none;
    user-select: auto;
    scroll-behavior: smooth;
}

*::selection {
    color: #fff;
    background-color: #ff3f40;
}

.active {
    color: #fff;
    background: #ff3f40;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.website {
    margin: 0px auto;

    &>.website__header {
        display: flex;
        flex-direction: column;
        background: #f6f2f2;
        justify-content: center;

        &>.header-menu {
            width: 1250px;
            margin: 10px auto;
            background: #000;

            &>ul {
                width: 1250px;
                height: 68px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;

                &>li {
                    width: 100px;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    margin: 0px 20px 0px 20px;

                    &>a {
                        color: #fff;
                        display: block;
                        line-height: 4.3;
                        text-align: center;
                        text-decoration: none;
                        font-family: sans-serif;

                        &:hover {
                            color: #fff;
                            background: #ff3f40;
                        }

                    }

                }

            }

        }

        &>.header-main {
            display: flex;
            margin: 50px auto;
            flex-direction: row;
            font-family: sans-serif;

            &>.main-left {
                width: 50%;
                display: flex;
                padding-left: 150px;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: space-between;

                &>.left-title {
                    text-align: left;
                    font-size: 60px;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                &>.left-desc {
                    width: 516px;
                    height: 77px;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.702);
                    line-height: 1.75;
                    text-align: left;
                }

                &>.left-button {
                    width: 227px;
                    height: 55px;
                    color: #fff;
                    border: none;
                    font-size: 18px;
                    line-height: 1.878;
                    border-radius: 5px;
                    background: #ff2d2d;
                    font-family: sans-serif;
                    color: rgb(255, 255, 255);

                    &:hover {
                        color: #000;
                        cursor: pointer;
                        background: none;
                        border: 2px solid rgb(255, 0, 0);
                    }

                }

            }

            &>.main-right {

                &>.right-img {
                    width: 551px;
                    height: 356px;
                    background: url('./img/system1.jpg') center center /cover;
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.368);

                    &>.img-bgcurtain {
                        width: 100%;
                        height: 100%;
                        // transition: all 1.2s;
                        // transform: translateY(-800px);
                        background: rgba(0, 0, 0, .5);

                        &>a {
                            position: relative;

                            &>.img-icon {
                                top: 150px;
                                left: 250px;
                                position: absolute;
                                cursor: pointer;
                            }

                        }

                    }

                }

            }

        }

    }

    &>.website__main-section {
        margin: 110px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &>.main-section-left {
            width: 50%;
            display: flex;
            font-family: sans-serif;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 150px;

            &>.left-title {
                font-size: 42.216px;
                color: rgba(0, 0, 0, 0.8);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.31;
                text-align: left;
                font-family: sans-serif;
            }

            &>.left-desc {
                width: 517px;
                font-size: 16px;
                color: rgb(0, 0, 0);
                line-height: 1.75;
                text-align: left;
            }

            &>.left-button {
                width: 223px;
                height: 51px;
                font-size: 17px;
                font-weight: 500;
                background: none;
                border-radius: 5px;
                border: 2px solid rgb(255, 0, 0);

                &:hover {
                    color: #fff;
                    cursor: pointer;
                    background: #ff2d2d;
                }

            }

        }

        &>.main-section-right {
            width: 50%;
            display: flex;
            flex-direction: row;
            padding-right: 150px;
            box-sizing: border-box;
            justify-content: space-evenly;

            &>.right-first-column {

                &>.first-column-card {
                    width: 250px;
                    margin: 10px;
                    height: 256px;
                    display: flex;
                    flex-direction: column;
                    font-family: sans-serif;
                    justify-content: space-around;

                    &>.card-img {
                        width: 41px;
                        height: 41px;
                    }

                    &>.card-title {
                        font-size: 27px;
                        color: rgba(0, 0, 0, 0.702);
                        line-height: 1.2;
                        text-align: left;
                    }

                    &>.card-desc {
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.702);
                        line-height: 1.75;
                        text-align: left;
                    }

                }

            }

            &>.right-second-column {

                &>.second-column-card {
                    width: 250px;
                    margin: 10px;
                    height: 256px;
                    display: flex;
                    flex-direction: column;
                    font-family: sans-serif;
                    justify-content: space-around;

                    &>.card-img {
                        width: 41px;
                        height: 41px;
                    }

                    &>.card-title {
                        font-size: 27px;
                        color: rgba(0, 0, 0, 0.702);
                        line-height: 1.2;
                        text-align: left;
                    }

                    &>.card-desc {
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.702);
                        line-height: 1.75;
                        text-align: left;
                    }

                }

            }

        }

    }

    &>.website__line {
        height: 2px;
        margin: 0 150px;
        background: #ececec;
    }

    &>.website__portfolio {
        margin: 110px 0 140px 0;

        &>.portfolio-texts {
            height: 200px;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: sans-serif;
            justify-content: space-evenly;
            margin-bottom: 89px;

            &>.texts-title {
                font-size: 42px;
                text-transform: uppercase;
            }

            &>.texts-desc {
                width: 434px;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.702);
                line-height: 1.75;
                text-align: center;
            }

            &>.texts-line {
                height: 5px;
                width: 130px;
                border-radius: 25px;
                background: #ff2d2d;
            }

        }

        &>.portfolio-galery {

            &>.galery-navbar {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 66px;
                justify-content: center;

                &>ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    list-style-type: none;
                    justify-content: space-evenly;

                    &>li {
                        width: 200px;

                        &>a {
                            display: block;
                            text-align: center;
                            font-size: 20px;
                            line-height: 1.091;
                            cursor: pointer;
                            text-decoration: none;
                            font-family: sans-serif;
                            text-transform: uppercase;
                            color: rgba(0, 0, 0, 0.702);

                            &:hover {
                                color: #ff3f40;
                            }

                        }

                    }

                }

            }

            &>.galery-images {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 20px;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &>.images-img {
                    width: 298px;
                    height: 290px;
                }

            }

        }

    }

    &>.website__team {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 140px 130px 110px 130px;

        &>.team-text {
            width: 460px;
            height: 181px;
            display: flex;
            margin-bottom: 70px;
            flex-direction: column;
            justify-content: space-between;

            &>.text-title {
                font-family: sans-serif;
                font-size: 38.34px;
                color: rgba(0, 0, 0, 0.8);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                text-align: left;
            }

            &>.text-desc {
                height: 39.446px;
                width: 388.504px;
                text-align: left;
                line-height: 1.75;
                font-size: 14.606px;
                font-family: sans-serif;
                color: rgba(0, 0, 0, 0.702);
            }

            &>.text-line {
                height: 3px;
                width: 132px;
                border-radius: 25px;
                background-color: rgb(255, 45, 45);
            }

        }

        &>.team-members {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &>.members-main-img {
                width: 321px;
                height: 458px;
                // background: url('./img/Rahmatulloh.jpg') no-repeat center center / cover;

                &>#mainimg {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

            }

            &>.members-about {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &>.about-title {
                    font-size: 27.527px;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.8);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                }

                &>.about-desc {
                    font-size: 15px;
                    font-family: sans-serif;
                    color: rgba(0, 0, 0, 0.702);
                    line-height: 1.75;
                    width: 450px;
                }

                &>.about-social {
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;

                    &>li {
                        width: 100px;
                        height: 10px;
                        font-size: 18px;
                        cursor: pointer;
                        font-weight: 100;
                        font-style: italic;
                        font-family: sans-serif;
                        color: rgba(0, 0, 0, 0.8);
                    }

                }

                &>.about-imgs {
                    display: flex;
                    gap: 20px 20px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &>.imgs-images {
                        position: relative;
                        overflow: hidden;

                        &>.images-of-member {
                            width: 197px;
                            height: 214px;
                        }

                        &>.images-title {
                            top: 177px;
                            width: 197px;
                            height: 37px;
                            color: #fff;
                            line-height: 2.2;
                            position: absolute;
                            text-align: center;
                            font-family: sans-serif;
                            transition: all 0.2s;
                            transform: translateY(400px);
                            background: rgba(0, 0, 0, 0.7);
                        }

                    }

                }

            }

        }

    }

    &>.website__subscribe {
        color: #fff;
        display: flex;
        text-align: center;
        background: #F5F0DD;
        flex-direction: column;
        justify-content: space-around;

        &>.subscribe-text {
            margin: 142px 0 66px 0;

            &>.text-title {
                font-size: 42px;
                margin-bottom: 40px;
                font-family: sans-serif;
            }

            &>.text-desc {
                font-size: 16px;
                font-family: sans-serif;
            }

        }

        &>form {
            margin-bottom: 140px;

            &>input[type=email] {
                width: 514px;
                height: 79px;
                border: none;
                padding: 30px;
                font-size: 18px;
                margin-right: 20px;
                border-radius: 5px;
                box-sizing: border-box;
                font-family: sans-serif;

                &::placeholder {
                    font-size: 18px;
                }

            }

            &>input[type=button] {
                color: #fff;
                width: 214px;
                height: 79px;
                border: none;
                font-size: 18px;
                cursor: pointer;
                border-radius: 5px;
                background: #ff2d2d;
                font-family: sans-serif;

                &:hover {
                    color: #ff2d2d;
                    background: transparent;
                    border: 4px solid #ff2d2d;
                }

            }

        }

    }

    &>.website__contact {
        height: 900px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        flex-direction: column;
        justify-content: space-evenly;

        &>.contact__send {
            width: 730px;
            height: 396px;
            display: flex;
            margin: 0 80px;
            flex-direction: column;
            font-family: sans-serif;
            justify-content: space-evenly;

            &>.text-title {
                font-size: 42px;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.8);
            }

            &>.text-desc {
                font-size: 18px;
                text-align: left;
                height: 62.058px;
                width: 639.747px;
                line-height: 1.75;
                color: rgba(0, 0, 0, 0.702);
            }

            &>.text-line {
                height: 3px;
                width: 132px;
                background-color: rgb(255, 45, 45);
            }

        }

        &>.contact__info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            &>form {
                width: 850px;
                height: 500px;
                display: flex;
                margin-left: 20px;
                flex-direction: column;
                justify-content: space-evenly;

                &>.form__inputs {
                    height: 25%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    &>input {
                        width: 350px;
                        height: 69px;
                        border: none;
                        font-size: 16px;
                        padding: 30px 50px;
                        border-radius: 10px;
                        background: #E5E5E5;
                        box-sizing: border-box;
                        text-transform: capitalize;

                        &::placeholder {
                            font-size: 16px;
                            font-family: sans-serif;
                        }

                    }

                    &>input[type=email] {
                        text-transform: none;
                    }

                }

                &>.form__message-button {
                    height: 75%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-evenly;

                    &>textarea {
                        resize: none;
                        width: 650px;
                        border: none;
                        height: 249px;
                        font-size: 18px;
                        padding: 30px 50px;
                        border-radius: 10px;
                        background: #E5E5E5;
                        font-family: sans-serif;
                        text-transform: capitalize;

                        &::placeholder {
                            font-size: 16px;
                            font-family: sans-serif;
                        }

                    }

                    &>input {
                        color: #fff;
                        width: 728px;
                        height: 72px;
                        border: none;
                        font-size: 18px;
                        cursor: pointer;
                        line-height: 4.5;
                        margin-top: 20px;
                        font-weight: bold;
                        border-radius: 10px;
                        background: #ff3b3b;
                        font-family: sans-serif;
                        text-transform: uppercase;

                        &:hover {
                            color: #ff3b3b;
                            line-height: 4.0;
                            background: transparent;
                            border: 4px solid #ff3b3b;
                        }

                    }

                }

            }

            &>.info__information {
                color: #fff;
                width: 577px;
                height: 481px;
                display: flex;
                align-items: left;
                padding: 146px 79px;
                background: #2d2d2d;
                flex-direction: column;
                box-sizing: border-box;
                font-family: sans-serif;
                justify-content: space-between;

                &>h4 {
                    font-size: 42px;
                    text-align: left;
                    text-transform: uppercase;
                }

                &>p {
                    font-size: 16px;
                    text-align: left;
                }

                &>a {
                    color: #fff;
                    font-size: 16px;
                    text-decoration: none;
                    font-family: sans-serif;
                }

            }

        }


    }

    &>.website__footer {
        color: #fff;
        height: 100px;
        display: flex;
        margin-top: 110px;
        flex-direction: row;
        align-items: center;
        background: #313030;
        font-family: sans-serif;
        justify-content: space-around;

        &>.footer__author {
            font-size: 16px;

            &>p {

                &>a {
                    color: rgb(142, 213, 255);
                    text-decoration: none;
                }

            }

        }

        &>.footer__social-icons {
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            &>.circle {
                width: 50px;
                height: 50px;
                line-height: 51px;
                text-align: center;
                background: #fff;
                border-radius: 50%;

                &>a {
                    color: #313030;
                    font-size: 25px;
                }

            }

        }

    }

}